<!DOCTYPE html>
<html>
  <head>
    <title>Title</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Title</h1>
    <h2>Socket</h2>
    <button id="hello">Vibration</button>
    <h2>Links</h2>
    <p><a href="/vibration?id=1">Vibration</a></p>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
